<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Ai Radio Home Page</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="intro">
        <h1>
            Welcome to Spotify Ai Radio, created with the help of GPT and elevnlabs.io! To get started, sign into your Spotify account and then take a visit to your host! 
        </h1>
        <p><a href = login> <button class = "submit"> Sign In</button></a></p>
        <p><a href = hostfirst> <button class = "submit2"> Listen to your host!</button></a></p>
    </div>  
</body>
</html>