<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Radio Show Host</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="popup">
        <button id="close">&times;</button>
        <h1> Before You Continue!</h1>
        <p>
            Make sure you do the following:
        </p>
        <ol>
            1. Open Spotify on your device you want to listen music with.
        </ol>
        <ol>
            2. Press the play button to play any song, then pause it so then it activates your device
        </ol>
        <ol>
            3. Enjoy the queue! When it is done, come back to this page to listen to what your DJ has to say!
        </ol>
    </div>
    <audio class = "audio" id = "a" controls src = "data:audio/wav;base64,{{ audio_base64 }}"> </audio>


      
    <p><a href = play> <button class = "submit3"> Continue!</button></a></p>
    

    <script src = "{{url_for('static', filename='script.js')}}"></script>
    


</body>
</html>